body {
	background-color: black;
	font-family:
		Rubik,
		"Franklin Gothic Medium",
		"Arial Narrow",
		Arial,
		sans-serif;
	color: wheat;
	height: 100vh;
	width : 100vw - 1em;

	display: grid;
	grid   :
		"sidebar nav" 1fr
		"sidebar main" 5fr
		/ 150px 1fr;
}

.iconify {
	box-shadow: 0 0 1px white;
	color     : white;
}

h3 {
	color      : white;
	text-align : center;
	font-weight: bold;
}

h2 {
	color      : white;
	text-align : center;
	font-weight: bolder;
	font-size  : larger;
}

.sidebar {
	padding         : 1em;
	padding-left    : 0;
	background-color: #b3caf53b;
	border-right    : 0.1em groove #d4d4d4;
	text-align      : end;

	/* Setting the sidebar to be a grid with 3 rows and 1 column. */
	grid-area: sidebar;
	display  : grid;
	grid     : 5em 20em 1fr/1fr;
}

.sidebar ul > *:hover,
.sidebar h2:hover {
	text-shadow: 0 0 0.4em wheat;
}

#dashboard {
	font-size: 30px;
}
.sidebar > ul {
	display: grid;
	grid   : repeat(auto-fit, 2em) / 1fr;
}

.nav {
	font-size  : 14px;
	padding    : 0.3em 1em;

	/* Creating a glow below. */
	background:
		linear-gradient(
			to bottom,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#555
		);

	/* Setting the nav to be a grid with 2 rows and 1 column. */
	grid-area: nav;
	align-items: center;
	display  : grid;
	grid     : 1fr 1fr /1fr;
	gap      : 0.5em;
}

.top {
	display: grid;
	grid   :
		"left . right" 1fr
		/	1fr 2fr 1fr;
	gap        : 2em;
	align-items: center;
}


form {
	grid-area: left;
	display  : grid;
	align-items: center;
	grid     : 1fr/ 1fr 1fr;
}

.top ul {
	grid-area: right;
	display  : grid;
	grid     : 1fr/1fr 1fr 1fr;
	align-items: center;
	justify-content: end;
	gap: 0.5em;
	font-size : 20px;
}

button {
	cursor    : pointer;
	font-size : 20px;
	appearance: none;
	border    : none;
	background: none;
}

input {
	appearance   : none;
	outline      : none;
	border       : none;
	border-radius: 1em;
	padding      : 0.3em 0.5em;
	width        : 20em;
	height       : 1.5em;
}

input:focus,
input:hover {
	box-shadow: 0 0 0.5em wheat;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.avatar {
	height: 2em;
}

.down {
	display: grid;
	grid   :
		"left . right" 1fr
		/ 1fr 3fr 2fr;
}

.left {
	display: grid;
	grid: 1fr/1fr 1fr;
	grid-area: left;
}

.left > p {
	font-size: 8px;
}

.down > ul {
	color          : white;
	font-weight    : 100;

	/* Setting the grid for the `.down > ul` element. */
	grid-area: right;
	display        : grid;
	grid           : 1fr/ 0.5fr 0.5fr 0.5fr;
	justify-content: center;
	align-items    : center;
	text-align     : center;
}

.down li {
	background-color: #b3caf53b;
	border-radius   : 1em;
	width           : 4em;
	padding         : 0.5em 0.2em;
}

main {
	padding: 1em;
	background-color: #222;
	grid-area: main;
	display: grid;
	gap: 1em;
	grid: 1fr / 5fr 2fr;
}

.content {
	display: grid;
	grid: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
	gap: 1em;
}

.right {
	display: grid;
	grid: 1fr 1fr /1fr;
}

.anno {
	display: grid;
	grid: 0.3fr 1fr 1fr/1fr;
}

.trend {
	display: grid;
	grid: 0.3fr 1fr 1fr/1fr;
}
