body {
	background-color: black;
	font-family:
		Rubik,
		"Franklin Gothic Medium",
		"Arial Narrow",
		Arial,
		sans-serif;
	color: wheat;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid:
		"sidebar nav" 1fr
		"sidebar main" 5fr
		/ 1fr 5fr;
}

.sidebar {
	padding: 1em;

	/* height: 100vh; */

	/* position: sticky; */
	background-color: rgb(53 34 12);
	grid-area: sidebar;
	display: grid;
	gap: 1em;
	grid: 1fr 3fr 1fr/1fr;
}

}

.nav {
	padding: 1em;
	grid-area: nav;
	display: grid;
	grid: 1fr 1fr /1fr;
	gap: 0.5em;
	background:
		linear-gradient(
			to bottom,
			#222,
			#222,
			#222,
			#222,
			#222,
			#222,
			#222,
			#222,
			#222,
			#333
		);
}

.up {
	display: grid;
	grid: 1fr / 5fr 1fr 1fr 1fr;
}

.down {
	display: grid;
	grid: 1fr / 1fr 1fr;
}

.down > ul {
  display: grid;
}

main {
  padding: 1em;
  background-color: #222;
  grid-area: main;
}
