body {
	background-color: black;
	font-family:
		Rubik,
		"Franklin Gothic Medium",
		"Arial Narrow",
		Arial,
		sans-serif;
	color: wheat;
	height: 100vh;
	width : 100vw - 1em;

	display: grid;
	grid   :
		"sidebar nav" 1fr
		"sidebar main" 5fr
		/ 150px 1fr;
}

.iconify {
	box-shadow: 0 0 1px white;
	color     : white;
}

h3 {
	color      : white;
	text-align : center;
	font-weight: bold;
}

h2 {
	color      : white;
	text-align : center;
	font-weight: bolder;
	font-size  : larger;
}

.sidebar {
	padding         : 1em;
	padding-left    : 0;
	background-color: #b3caf53b;
	border-right    : 0.1em groove #d4d4d4;
	text-align      : end;

	/* Setting the sidebar to be a grid with 3 rows and 1 column. */
	grid-area: sidebar;
	display  : grid;
	grid     : 5em 20em 1fr/1fr;
}

.sidebar ul > *:hover,
.sidebar h2:hover {
	text-shadow: 0 0 0.4em wheat;
}

#dashboard {
	font-size: 30px;
}
.sidebar > ul {
	display: grid;
	grid   : repeat(auto-fit, 2em) / 1fr;
}

.nav {
	font-size  : 14px;
	padding    : 0.3em 1em;

	/* Creating a glow below. */
	background:
		linear-gradient(
			to bottom,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#333,
			#555
		);

	/* Setting the nav to be a grid with 2 rows and 1 column. */
	grid-area: nav;
	align-items: center;
	display  : grid;
	grid     : 1fr 1fr /1fr;
	gap      : 0.5em;
}

.up {
	display: grid;
	grid: 1fr / 5fr 1fr 1fr 1fr;
}

.down {
	display: grid;
	grid: 1fr / 1fr 1fr;
}

.down > ul {
	display: grid;
	grid: 1fr/ 1fr 1fr 1fr;
}

main {
	padding: 1em;
	background-color: #222;
	grid-area: main;
	display: grid;
	gap: 1em;
	grid: 1fr / 5fr 2fr;
}

.content {
	display: grid;
	grid: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
	gap: 1em;
}

.right {
	display: grid;
	grid: 1fr 1fr /1fr;
}

.anno {
	display: grid;
	grid: 0.3fr 1fr 1fr/1fr;
}

.trend {
	display: grid;
	grid: 0.3fr 1fr 1fr/1fr;
}
